@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h2, h3, h4 {
    font-family: 'Neonderthaw', cursive;
    font-weight: bold;
    color: brown;
}

h2 {
    font-size: 35px;
}

h3, h4 {
    font-size: 30px;
}

h4 {
    color: black;
}

.email {
    font-size: 20px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
    line-height: normal;
}

li {
    line-height: 2;
}

nav a {
    text-decoration: none;
    color: #545454;
}

nav a:hover {
    color: yellow;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#content {
    position: relative;
    bottom: 0;
    background: transparent;
    color: #545454;
    width: 100%;
  }

#header-img {
    padding-top: 25px;
}
  
nav {
    top: 0;
    position: fixed;
    width: 100%;
    padding: 20px;
    display: block;
    background-image: linear-gradient(to bottom right, #fff, #6accc9);
    opacity: 80%;
    z-index: 1;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container, form {
    display: flex;
    background: rgba(255,255,255);
    border-radius: 10px;
    opacity: 80%;
    padding: 20px;
    margin: 20px;
    color: black;
    display: inline-block;
    inline-size: 600px; 
    overflow: hidden;
}

#email, #name, #phone, #textarea {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 275px;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
	text-align: center; 
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 10px;
}

#textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.6);
    background: #6accc9;
    box-shadow: inset 0 1px 4px #305e5d;
    padding: 5px;
	text-align: center; 
    margin: 0 auto;
    border-radius: 2px;
}

#submit:hover {
    background-color: yellow;
}

@media only screen and (max-width: 600px) {

    a:hover {
        color: #6accc9;
    }
    
  }