@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h3 {
    padding-top: 50px;
}

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: #545454;
}

a:hover {
    color: #6accc9;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#content {
    position: fixed;
    bottom: 0;
    background: transparent;
    color: #545454;
    width: 100%;
  }

#header-img {
    padding-top: 25px;
}
  
nav {
    top: 0;
    position: fixed;
    background: rgba(84, 84, 84, 20%);
    width: 100%;
    padding: 20px;
    display: block;
}

#email {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 275px;
    border: 1px solid rgba(255,255,255,0.6);
    background: linear-gradient(#eee, #fff);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.4);
    padding: 5px;
	text-align: center; 
    margin: 0 auto;
    border-radius: 2px;
}

#submit {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.6);
    background: #6accc9;
    box-shadow: inset 0 1px 4px #305e5d;
    padding: 5px;
	text-align: center; 
    margin: 0 auto;
    border-radius: 2px;
}
